<p>directive works!</p>

<!-- use of ngIf -->
<h2 *ngIf="isCond1" [ngStyle]="myStyle">use of *ngIF directive with cond1 </h2>
<h2 *ngIf="isCond2">use of *ngIF directive with cond1 </h2>
<h3 *ngIf="isCond3;then truepart;else falsepart"></h3>


<ng-template #truepart>
    this is true part
</ng-template>

<ng-template #falsepart>
    this is false part
</ng-template>

<hr>

<!-- use of *ngFor -->
 <ul>
    <li *ngFor="let course of courses" [ngClass]="myClass">{{course}}</li>
 </ul>
 <hr>


 <!-- use of ngswitch  -->
<div [ngSwitch]="myCourse">
    <div *ngFor="let course of courses">
        <div *ngSwitchCase="course" >you have selected {{course}}</div>
    </div>
    <div *ngSwitchDefault>Invalid Choice</div>

</div>
