<nav>
    <a href="" routerLink="parent" class="btn btn-primary btn-sm">Parent</a>&nbsp;
    <a href="" routerLink="databinding" class="btn btn-primary btn-sm">DataBinding</a>&nbsp;
    <a href="" routerLink="angform" class="btn btn-primary btn-sm">Angform</a>&nbsp;
    <a href="" routerLink="item" class="btn btn-primary btn-sm">Item</a>&nbsp;
    <a href="" routerLink="productdash" class="btn btn-primary btn-sm">Productdash</a>&nbsp;
    <a href="" routerLink="" style="float: right;" class="btn btn-danger btn-sm" (click)="logOut()">Logout</a>&nbsp;
</nav>
